@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
    font-weight: normal;
}

:root{
    --cor1: #89f0b5;
    --cor2: #29A05D;
    --cor3: #0e793a;
    --cor4: #1A5c38;
    --cor5: #0c2919;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonte-anroid: 'Android', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--cor1);
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-padrao);
}

header{
    background-image: linear-gradient(#29A05D, #1A5C38);
    min-height: 150px;
    padding-top: 30px;
}

header > h1{
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.555);
}

header > p{
    font-family: var(--fonte-padrao);
    color: white;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.555);
}

nav{
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.336);
}

nav > a{
    color: var(--cor1);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: var(--cor1);
    color: var(--cor5);
    border-radius: 5px;
}

main{ 
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    min-width: 280px;
    max-width: 1000px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
    border-radius: 0px 0px 8px 8px;
}


article > h1{
    font-family: 'idroid', 'Times New Roman', Times, serif;
    color: var(--cor4);
    padding: 15px;
}

article > h2{
    font-family: 'idroid', 'Times New Roman', Times, serif;
    color: var(--cor3);
    text-indent: 10px;
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
}

p{
    font-size: 20px;
    text-indent: 30px;
    margin: 15px 0px;
    line-height: 2em;
    text-align: justify;
}

main strong{
    color: var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor5);
    padding: 2px 6px;
    font-weight: bold;
}

a.externo::after{
    content: '\00A0\1F517';
}

main a:hover{
    text-decoration: underline;
    color: var(--cor2)
}

img{
    min-width: 10%;
    max-width: 100%;
    margin: auto;
    display: block;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.25%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: #C5EBD6;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 10px;
}


ul{
    list-style-type: none; 
    display: inline-block
}


li{
    margin-bottom: 5px;
    columns: 2;
}

h3{
    font-family: 'idroid', 'Times New Roman', Times, serif;
    background-color: #29A05D;
    color: white;
    padding: 10px;
    font-weight: normal;
    margin: -10px -10px 0px -10px ;
    border-radius: 8px 8px 0px 0px;
}

footer{
    background-color: var(--cor5);
    color: white;
}

footer p{
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
